PORT=
MONGODB_URI=
JWT_SECRET=abc123

AUTO_IMPORT_ZONES=true
ZONE_IMPORT_FILE=data/mysuru-zones.json

#llm
OPENROUTER_API_KEY=

# Web Push
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# OpenWeatherMap
OPENWEATHER_API_KEY=
WEATHER_CACHE_MS=600000

# Twilio SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=


